<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite PUBLIC "SYSTEM" "http://testng.org/testng-1.0.dtd">

<suite name="testSuite" preserve-order="true" parallel="false" verbose="10">
  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="tests">
    <packages>
      <package name="test"/>
    </packages>
  </test>
</suite>
